<#include "/common/layout_dl.html">
<@header>
</@header>
<@body>
 <form role="form" class="layui-form layui-form-pane" method="post" action="/system/menu/doEdit">
  <input type="hidden" name="id" value="${(sysMenu.id)!}" />
  <div class="box-body">
      <div class="form-group">
         <label>Choix du Repertoire/menu</label>
         <select id="dir" class="form-control select2" style="width: 100%;" lay-verify="required" lay-ignore>
           <option value="" selected="selected">--Choisir--</option>
           <#list list as m>
           	 <option value="${(m.id)!}" ${(m.id==pSysMenu.pid)?string('selected="selected"','')}>${(m.code)!}-${(m.menuname)!}</option>
           </#list>
         </select>
         <select id="pid" name="pid" class="form-control select2" style="width: 100%;" lay-verify="required" lay-ignore>
         		<option value="${(pSysMenu.id)!}" selected="selected">${(pSysMenu.code)!}-${(pSysMenu.menuname)!}</option>
       		</select>
	</div>
	<div class="form-group">
       <label for="uname">Code</label>
      	<input type="text" name="code" class="form-control" value="${(sysMenu.code)!}"
      	placeholder="Entrez le code,ex:050101" lay-verify="required">
     </div>
     <div class="form-group">
       <label for="uname">Nom du fonction</label>
      	<input type="text" name="menuname" value="${(sysMenu.menuname)!}" class="form-control" placeholder="Entrez le nom du catalogue"  lay-verify="required">
     </div>
     <div class="form-group">
       <label for="resource"> Ressource Auth</label>
      	<input type="text" id="resource" name="resource" value="${(sysMenu.resource)!}" class="form-control" placeholder="Entrez les Permissions du ressource" lay-verify="required">
     </div> 
     <div class="form-group">
       <label for="uname">Ordre</label>
      	<input type="text" name="sort" value="${(sysMenu.sort)!}" class="form-control" placeholder="Entrez l'ordre"  lay-verify="required|number">
     </div>
      <div class="form-group">
	    <button type="submit" class="btn btn-success" lay-submit lay-filter="submit"><i class="fa fa-save"></i> Enregistrer</button>
	    <a  class="btn btn-default" href="javascript:parent.layer.closeAll('iframe');"><i class="fa fa-close"></i> Annuler</a>
	  </div>
   </div><!-- /.box-body -->
</form>
</@body>
<@footer>
<script>
$("#dir").on('change',function(){
	var pid = $(this).val();
	 $.post('/system/menu/json?_dc='+new Date().getTime(),{pid:pid},function(response){
		if(response.code==200){
			$("#pid").empty();
			$("#pid").select2({
				data:response.data
			});
		}
	}); 
});
</script>
</@footer>