<#include "/common/layout.html">
<@header>
</@header>
<@body>
<div class="content-wrapper">
  <!-- Content Header (Page header) -->
  <section class="content-header">
    <h1>
      <small>Gestion Système > Logs</small>
    </h1>
  </section>
  <!-- Main content -->
  <section class="content">
    <!-- Your Page Content Here -->
    <div class="row">
      <div class="col-xs-12">
        <div class="box">
          <div class="box-header">
             <form class="form-inline"  action="/system/log/list/1" method="post">
			  <div class="form-group">
			    <input type="text" name="daterange" value="${daterange!}" class="form-control date" id="daterange" placeholder="Départ  - Fin" style="width: 228px;">
			  </div>
			 <div class="input-group">
               <input type="text" name="search" value="${search!}" class="form-control" placeholder="Search">
               <div class="input-group-btn">
                 <button class="btn btn-default" type="submit"><i class="fa fa-search"></i></button>
                 <a href="/system/log/list/1" class="btn btn-default"><i class="fa fa-refresh"></i></a>
               </div>
            </div>
            <div class="input-group pull-right">
                 <button type="button" class="btn btn-primary btn-flat" onclick="exportTo('Liste des logs');"><i class="fa fa-file-excel-o"></i> Export</button>
            </div>
			</form>
          </div>
          <div class="box-body table-responsive no-padding">
            <table class="table table-hover">
              <tr>
                <th>Numéro</th>
                <th>Log</th>
                <th>Nom d'utilisateur</th>
                <th>Adresse</th>
                <th>Temps</th>
                <th>Opérations</th>
              </tr>
              <#list pageData.getRows() as log>
              	  <tr>
	                <td>${((pageData.pageNo-1)*pageData.size +log_index+1)!}</td>
	                <td>${(log.title)!}</td>
	                <td>${(log.username)!}</td>
	                <td>${(log.url)!'--'}</td>
	                <td>${(log.createtime?string('yyyy/MM/dd HH:mm:ss'))!}</td>
	                <td>
	                <!-- <a class="btn btn-xs"
	                 data-tiggle="ajaxmodel"
	                 data-title="paramètres"
	                 data-url="/system/log/params/${log.id}">Chercher</a> -->
	                 
	                 <a class="btn btn-xs dialog"
	                 data-title="paramètres"
	                 data-url="/system/log/params/${log.id}">Chercher</a>
	                 
	               </td>
	              </tr>
              </#list>
            </table>
          </div><!-- /.box-body -->
          <div class="box-footer row">
            <div class="col-md-6">
         	  <#include "/common/paginateBar.html" />
	  		  <@paginate pageData=pageData actionUrl="/system/log/list/" urlParas="?search=${search!}&daterange=${daterange!}"  />
            </div>
            <div class="col-md-6 pull-left">
	             <#include "/common/paginate.html" />
	  			 <@paginate currentPage=pageData.getPageNo() totalPage=pageData.getPages() actionUrl="/system/log/list/" urlParas="?search=${search!}&daterange=${daterange!}&pageSize=${pageData.getPageSize()!}"  />
            </div>
          </div>
        </div><!-- /.box -->
      </div>
    </div>
  </section><!-- /.content -->
</div><!-- /.content-wrapper -->
</@body>
<@footer>
<script>

	function getBoforeDate(before){
		var now = new Date();
		now.setDate(now.getDate()-before);
		return now;
	}
	
	function getBoforeMonth(beforeMonth,day){
		var now = new Date();
		now.setDate(day);
		now.setMonth(now.getMonth()-beforeMonth);
		return now;
	}
	
	$(function(){
		
		var now = new Date();
		
		$('.date').daterangepicker({
		    "showWeekNumbers": true,
		    "showISOWeekNumbers": true,
		    "ranges": {
		        "Aujourd’hui": [
		            now,
		            now
		        ],
		        "Hier": [
					getBoforeDate(1),
					getBoforeDate(1)
		        ],
		        "7 jours": [
					getBoforeDate(7),
					now
		        ],
		        "30 jours": [
		            getBoforeDate(30),
		            now
		        ],
		        "Ce mois": [
		            getBoforeMonth(0,1),
		            getBoforeMonth(0,31)
		        ],
		        "Le mois dernier": [
					getBoforeMonth(1,1),
					getBoforeMonth(1,31)
		        ],
		        "Ces trois derniers mois": [
						getBoforeMonth(2,1),
						getBoforeMonth(0,31)
			        ]
		    },
		    "locale": {
		        "format": "YYYY/MM/DD",
		        "separator": "-",
		        "applyLabel": "Appliquer",
		        "cancelLabel": "Annuler",
		        "fromLabel": "From",
		        "toLabel": "To",
		        "customRangeLabel": "Individuel",
		        "weekLabel": "W",
		        "daysOfWeek": [
		            "7",
		            "1",
		            "2",
		            "3",
		            "4",
		            "5",
		            "6"
		        ],
		        "monthNames": [
		            "Janvier",
		            "Février",
		            "Mars",
		            "Avril",
		            "Mai",
		            "Juin",
		            "Juillet",
		            "Août",
		            "Septembre",
		            "Octobre",
		            "Novembre",
		            "Décembre"
		        ],
		        "firstDay": 1
		    },
		    "alwaysShowCalendars": true,
		    "autoUpdateInput":false,
		    "opens": "right",
		    "buttonClasses": "btn btn-sm"
		}, function(start, end, label) {
		  console.log("New date range selected: ' + start.format('YYYY-MM-DD') + ' to ' + end.format('YYYY-MM-DD') + ' (predefined range: ' + label + ')");
		});
		
		$('.date').on('apply.daterangepicker', function(ev, picker) {
            $(this).val(picker.startDate.format('YYYY/MM/DD') + ' - ' + picker.endDate.format('YYYY/MM/DD'));
        });

        $('.date').on('cancel.daterangepicker', function(ev, picker) {
            $(this).val('');
        });
		
	});
</script>
</@footer>